<!-- <p>hotel works!</p>
<div>
  <img src="../../assets/images/Zomato.png" height="100px" width="33%" />
  <img src="../../assets/images/Zomato.png" height="100px" width="33%" />
  <img src="../../assets/images/Zomato.png" height="100px" width="33%" />

  <h1 style="text-align: center; color: blue"><u>Hotels Details</u></h1>
  <mat-card class="firstmat">
    <div class="firstDiv">
      <mat-label>Hotel Id:</mat-label>
      <mat-form-field>
        <input />
      </mat-form-field>
      <mat-label>HotelName</mat-label>
      <mat-form-field>
        <mat-select>
          <mat-option></mat-option>
        </mat-select>
      </mat-form-field>
      <mat-label>Cuisines</mat-label>
      <mat-form-field>
        <mat-select>
          <mat-option></mat-option>
        </mat-select>
      </mat-form-field>
      <mat-label>Time</mat-label>
      <mat-form-field>
        <mat-select>
          <mat-option></mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <!-- <div class="firstDiv">
      <mat-label>Cuisines</mat-label>
      <mat-form-field>
        <mat-select>
          <mat-option></mat-option>
        </mat-select>
      </mat-form-field>
      <mat-label>Description</mat-label>
      <mat-form-field>
        <input matInput type="text" />
      </mat-form-field>
      <mat-label>Price</mat-label>
      <mat-form-field> <input matInput type="text" /> </mat-form-field>
    </div> -->
<!-- </mat-card>
  <button mat-raised-button class="btn" color="primary">Submit</button>
</div> -->
-->
