.input {
  height: 62px;
  width: 270px;
  margin-left: 500px;
}
.btn {
  width: 200px;
  margin-left: 60px;
}
.btn:hover {
  background-color: rgb(177, 243, 177) !important;
}
.btnnonveg {
  width: 200px;
  margin-left: 200px;
}
.btnnonveg:hover {
  background-color: indianred !important;
}
.btnvegan {
  width: 200px;
  margin-left: 200px;
}
.btnvegan:hover {
  background-color: lightgreen !important;
}
mat-carousel {
  max-width: 800px;
  margin: auto;
}

img {
  width: 100%;
  height: auto;
}
.mat {
  background-image: url(../../assets/images/hotelimage.jpeg);
}
