<div>
  <mat-card class="mat">
    <div style="display: flex; flex-direction: row; margin: 10px">
      <mat-form-field class="input">
        <input matInput type="text" placeholder="search food"
      /></mat-form-field>
      <button mat-raised-button color="primary">Search</button>
    </div>
    <div style="display: flex; flex-direction: row; margin: 10px">
      <button mat-raised-button class="btn">Veg</button>
      <button mat-raised-button class="btnnonveg">Non-Veg</button>
      <button mat-raised-button class="btnvegan">Vegan</button>
    </div>
  </mat-card>
</div>
